cat > docker-compose.yml << 'EOF'
networks:
  tg-net:
    driver: bridge

services:
  ### Redis
  redis:
    image: redis:8-alpine
    restart: always
    networks:
      - tg-net
    ports:
      - "0.0.0.0:6379:6379"
    volumes:
      - ./data/redis:/data
    command: ["redis-server", "--appendonly", "yes", "--save", "60", "1000", "--requirepass", "youtelegramm", "--bind", "0.0.0.0"]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "youtelegramm", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  ### RabbitMq
  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: always
    networks:
      - tg-net
    ports:
      - "0.0.0.0:5672:5672"
      - "0.0.0.0:15672:15672"
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: youtelegramm
      RABBITMQ_ERLANG_COOKIE: youtelegramm-cookie
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  ### MongoDb
  mongodb:
    image: mongo:8
    restart: always
    networks:
      - tg-net
    ports:
      - "0.0.0.0:27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: youtelegramm
    command: [
      "mongod",
      "--bind_ip_all",
      "--auth",
      "--quiet",
      "--logpath", "/dev/null",
      "--logappend"
    ]
    volumes:
      - ./data/mongo/db:/data/db
      - ./data/mongo/configdb:/data/configdb
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "-u", "user", "-p", "youtelegramm", "--authenticationDatabase", "admin", "--eval", "db.adminCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

  ### Minio
  minio:
    image: minio/minio:latest
    restart: always
    networks:
      - tg-net
    ports:
      - "0.0.0.0:9000:9000"
      - "0.0.0.0:9001:9001"
    environment:
      MINIO_ROOT_USER: user
      MINIO_ROOT_PASSWORD: youtelegramm
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001" --address ":9000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 15s
      timeout: 5s
      retries: 5

  ### Data seeder
  data-seeder:
    image: ${MyTelegramRegistry}/mytelegram-data-seeder:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      ConnectionStrings__Default: "mongodb://user:youtelegramm@mongodb:27017/?authSource=admin"
      App__DatabaseName: ${App__DatabaseName}
      App__ReadModelDatabaseName: ${App__ReadModelDatabaseName}
      App__CreateTestUsers: ${App__CreateTestUsers}
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
      Redis__Configuration: "redis:6379,password=youtelegramm"
    volumes:
      - ./data/mytelegram/data-seeder/logs:/app/Logs
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  ### Gateway server
  gateway-server:
    image: ${MyTelegramRegistry}/mytelegram-gateway-server:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    ports:
      - "0.0.0.0:${App__Servers__0__Port}:${App__Servers__0__Port}"
      - "0.0.0.0:${App__Servers__1__Port}:${App__Servers__1__Port}"
      - "0.0.0.0:${App__Servers__2__Port}:${App__Servers__2__Port}"
      - "0.0.0.0:${App__Servers__3__Port}:${App__Servers__3__Port}"
      - "0.0.0.0:${App__Servers__4__Port}:${App__Servers__4__Port}"
      - "0.0.0.0:${App__Servers__5__Port}:${App__Servers__5__Port}"
    volumes:
      - ./data/mytelegram/gateway/logs:/app/Logs
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      App__Servers__0__Ip: "0.0.0.0"
      App__Servers__0__Port: ${App__Servers__0__Port}
      App__Servers__1__Enabled: ${App__Servers__1__Enabled}
      App__Servers__1__Ip: "0.0.0.0"
      App__Servers__1__Port: ${App__Servers__1__Port}
      App__Servers__2__Enabled: ${App__Servers__2__Enabled}
      App__Servers__2__Ip: "0.0.0.0"
      App__Servers__2__Port: ${App__Servers__2__Port}
      App__Servers__3__Enabled: ${App__Servers__3__Enabled}
      App__Servers__3__Ip: "0.0.0.0"
      App__Servers__3__Port: ${App__Servers__3__Port}
      App__Servers__4__Port: ${App__Servers__4__Port}
      App__Servers__5__Port: ${App__Servers__5__Port}
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
      Redis__Configuration: "redis:6379,password=youtelegramm"
      ConnectionStrings__Default: "mongodb://user:youtelegramm@mongodb:27017/?authSource=admin"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy

  ### Auth server
  auth-server:
    image: ${MyTelegramRegistry}/mytelegram-auth-server:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
      Redis__Configuration: "redis:6379,password=youtelegramm"
      ConnectionStrings__Default: "mongodb://user:youtelegramm@mongodb:27017/?authSource=admin"
    volumes:
      - ./data/mytelegram/auth/logs:/app/Logs
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy

  ### Session server
  session-server:
    image: ${MyTelegramRegistry}/mytelegram-session-server:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      ConnectionStrings__Default: "mongodb://user:youtelegramm@mongodb:27017/?authSource=admin"
      App__DatabaseName: ${App__DatabaseName}
      App__ReadModelDatabaseName: ${App__ReadModelDatabaseName}
      App__AccessHashSecretKey: ${App__AccessHashSecretKey}
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
      Redis__Configuration: "redis:6379,password=youtelegramm"
    volumes:
      - ./data/mytelegram/session/logs:/app/Logs
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy

  ### File server
  file-server:
    image: ${MyTelegramRegistry}/mytelegram-file-server:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    volumes:
      - ./data/mytelegram/file/uploads:/app/uploads
      - ./data/mytelegram/file:/app/Logs
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      ConnectionStrings__Default: "mongodb://user:youtelegramm@mongodb:27017/?authSource=admin"
      App__DatabaseName: ${App__DatabaseName}
      App__ReadModelDatabaseName: ${App__ReadModelDatabaseName}
      App__AccessHashSecretKey: ${App__AccessHashSecretKey}
      Minio__Endpoint: "minio:9000"
      Minio__AccessKey: user
      Minio__SecretKey: youtelegramm
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
      Redis__Configuration: "redis:6379,password=youtelegramm"
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_healthy

  ### Messenger command server
  messenger-command-server:
    image: ${MyTelegramRegistry}/mytelegram-messenger-command-server:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      ConnectionStrings__Default: "mongodb://user:youtelegramm@mongodb:27017/?authSource=admin"
      App__DatabaseName: ${App__DatabaseName}
      App__ReadModelDatabaseName: ${App__ReadModelDatabaseName}
      App__AccessHashSecretKey: ${App__AccessHashSecretKey}
      App__FileServerGrpcServiceUrl: ${App__FileServerGrpcServiceUrl}
      App__FixedVerifyCode: ${App__FixedVerifyCode}
      App__VerificationCodeLength: ${App__VerificationCodeLength}
      App__VerificationCodeExpirationSeconds: ${App__VerificationCodeExpirationSeconds}
      App__CheckPhoneNumberFormat: ${App__CheckPhoneNumberFormat}
      App__EnableSearchNonContacts: ${App__EnableSearchNonContacts}
      App__DcOptions__0__IpAddress: ${App__DcOptions__0__IpAddress}
      App__DcOptions__1__Enabled: ${App__DcOptions__1__Enabled}
      App__DcOptions__1__IpAddress: ${App__DcOptions__1__IpAddress}
      App__DcOptions__1__Port: ${App__DcOptions__1__Port}
      App__DcOptions__2__Enabled: ${App__DcOptions__2__Enabled}
      App__DcOptions__2__IpAddress: ${App__DcOptions__2__IpAddress}
      App__DcOptions__3__Enabled: ${App__DcOptions__3__Enabled}
      App__DcOptions__3__IpAddress: ${App__DcOptions__3__IpAddress}
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
      Redis__Configuration: "redis:6379,password=youtelegramm"
    volumes:
      - ./data/mytelegram/command-server/logs:/app/Logs
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy

  ### Messenger query server
  messenger-query-server:
    image: ${MyTelegramRegistry}/mytelegram-messenger-query-server:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      ConnectionStrings__Default: "mongodb://user:youtelegramm@mongodb:27017/?authSource=admin"
      App__DatabaseName: ${App__DatabaseName}
      App__ReadModelDatabaseName: ${App__ReadModelDatabaseName}
      App__AccessHashSecretKey: ${App__AccessHashSecretKey}
      App__FileServerGrpcServiceUrl: ${App__FileServerGrpcServiceUrl}
      App__FixedVerifyCode: ${App__FixedVerifyCode}
      App__VerificationCodeLength: ${App__VerificationCodeLength}
      App__VerificationCodeExpirationSeconds: ${App__VerificationCodeExpirationSeconds}
      App__EnableSearchNonContacts: ${App__EnableSearchNonContacts}
      App__DcOptions__0__IpAddress: ${App__DcOptions__0__IpAddress}
      App__DcOptions__0__Port: ${App__DcOptions__0__Port}
      App__DcOptions__1__Enabled: ${App__DcOptions__1__Enabled}
      App__DcOptions__1__IpAddress: ${App__DcOptions__1__IpAddress}
      App__DcOptions__1__Port: ${App__DcOptions__1__Port}
      App__DcOptions__2__Enabled: ${App__DcOptions__2__Enabled}
      App__DcOptions__2__IpAddress: ${App__DcOptions__2__IpAddress}
      App__DcOptions__2__Port: ${App__DcOptions__2__Port}
      App__DcOptions__3__Enabled: ${App__DcOptions__3__Enabled}
      App__DcOptions__3__IpAddress: ${App__DcOptions__3__IpAddress}
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
      Redis__Configuration: "redis:6379,password=youtelegramm"
    volumes:
      - ./data/mytelegram/query-server/logs:/app/Logs
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy

  ### Sms sender
  sms-sender:
    image: ${MyTelegramRegistry}/mytelegram-sms-sender:${MyTelegramVersion}
    restart: always
    networks:
      - tg-net
    environment:
      Serilog__MinimumLevel__Default: ${Serilog__MinimumLevel__Default}
      RabbitMQ__Connections__Default__HostName: ${RabbitMQ__Connections__Default__HostName:-rabbitmq}
      RabbitMQ__Connections__Default__Port: ${RabbitMQ__Connections__Default__Port:-5672}
      RabbitMQ__Connections__Default__UserName: user
      RabbitMQ__Connections__Default__Password: youtelegramm
      RabbitMQ__EventBus__ExchangeName: ${RabbitMQ__EventBus__ExchangeName}
    volumes:
      - ./data/mytelegram/sms-sender/logs:/app/Logs
    depends_on:
      rabbitmq:
        condition: service_healthy
EOF